# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/


# Miscellaneous
node_modules/
dist/
/docs/*lock*
.DS_Store
.vscode/
_scripts/
/tests/_reports/

# TypeScript artifacts
*.tsbuildinfo
*.js.map
*.d.ts

# Reports from allure
/allure-report/
/allure-results/